In [399]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

%matplotlib inline

In [200]:
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [409]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
datareduced = data.copy()

In [202]:
datareduced.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
len(datareduced["Community Board"].unique())

77

In [190]:
datareduced["Community Board"].unique()

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

#### How many unique values do we have?
There are 74 unique community districts in the data.
#### Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. (We should have 59 Community Districts.)
There are more than 59 unique values because some are 'unspecified'. All boroughs are represented, however Staten Island only has one Community District included in the data.

In [204]:
len(datareduced)

10187766

In [205]:
datareduced.drop_duplicates().shape

(10187766, 53)

#### There are no duplicate rows in this dataset.

In [207]:
datareduced.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197706
Street Name                        2198559
Cross Street 1                     2375943
Cross Street 2                     2425793
Intersection Street 1              8345288
Intersection Street 2              8346302
Address Type                        490299
City                                788712
Landmark                          10180456
Facility Type                      8579485
Status                                   0
Due Date                           7120286
Resolution Description             3786751
Resolution Action Updated Date      250934
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185412
Vehicle Type                      10180264
Taxi Company Borough              10177601
Taxi Pick Up Location             10089207
Bridge Highway Name               10152671
Bridge Highway Direction          10152723
Road Ramp                         10152986
Bridge Highway Segment            10135780
Garage Lot Name                   10183433
Ferry Direction                   10185023
Ferry Terminal Name               10181242
Latitude                            878752
Longitude                           878752
Location                            878752
dtype: int64

There are cells with missing values. Columns 'Landmark', 'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough', 'Garage Lot Name', 'Ferry Direction', and 'Ferry Terminal Name' contain exclusively null values. Similarly, 'Bridge Highway Name', 'Bridge Highway Direction', and 'Road Ramp' only contain one non-null value. Community Board does not have any null values.

In [211]:
datareduced["Resolution Description"].fillna(datareduced["Complaint Type"], inplace=True)

In [214]:
datareduced["Resolution Description"].isnull().sum()

0

#### The unplausible Community Districts are those which include the word 'unspecified' in the title and the Community Districts with numbers greater than 18

In [234]:
def flag(data):
    if re.search(r"Unspecified", data):
        return 0
    elif int(re.search(r"(\d\d*)\s\w+", data).group(1))>18:
        return 0
    else:
        return 1

In [249]:
mask = datareduced["Community Board"].apply(flag)

In [250]:
datareduced["masks"] = mask

In [251]:
datanew = datareduced[datareduced.masks==1]

In [256]:
datanew["Community Board"].unique().shape

(59,)

In [257]:
ranks = datanew["Complaint Type"].groupby(datanew["Community Board"]).count()

In [258]:
ranks = pd.DataFrame(ranks)

In [379]:
ranking = ranks.reset_index().sort(columns=["Complaint Type"], ascending=False).reset_index(drop=True)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [381]:
ranking = ranking.rename(columns = {'Complaint Type':'counts'})

In [382]:
ranking.head()

  Community Board  counts
0    12 MANHATTAN  268053
1       12 QUEENS  229383
2     03 BROOKLYN  197306
3       07 QUEENS  195961
4     17 BROOKLYN  191720

In [261]:
df_pop = pd.read_csv(PUIdata + "/Final_Demographics.csv")
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [262]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [263]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [269]:
df_pop.columns

Index(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [264]:
df_pop["cd_id"].unique().shape

(59,)

In [298]:
demograph = df_pop[["cd_id", "Median household income (In 2014 Inflation Adjusted Dollars)"]]

#### Normally order people or people with families tend to make compliants

In [270]:
df_infr.columns

Index(['FIPS', 'Geographic Identifier', 'Qualifying Name', 'Households',
       'Households: With An Internet Subscription',
       'Households: Dial-Up Alone', 'Households: Dsl',
       'Households: With Mobile Broadband',
       'Households: Without Mobile Broadband', 'Households: Cable Modem',
       'Households: With Mobile Broadband.1',
       'Households: Without Mobile Broadband.1', 'Households: Fiber-Optic',
       'Households: With Mobile Broadband.2',
       'Households: Without Mobile Broadband.2',
       'Households: Satellite Internet Service',
       'Households: With Mobile Broadband.3',
       'Households: Without Mobile Broadband.3',
       'Households: Two or More Fixed Broadband Types, or Other',
       'Households: With Mobile Broadband.4',
       'Households: Without Mobile Broadband.4',
       'Households: Mobile Broadband Alone or With Dialup',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription', 'Households.1',
       'Households: Has A Computer',
       'Households: With Dial-Up Internet Subscription Alone',
       'Households: With A Broadband Internet Subscription',
       'Households: Without An Internet Subscription',
       'Households: No Computer'],
      dtype='object')

In [272]:
df_infr["Qualifying Name"].unique().shape

(55,)

In [308]:
mobile = df_infr.iloc[:,[2, 7, 10, 13, 16, 19, 21]]

In [309]:
mobile['Mobile'] = mobile.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [310]:
# no mobile
nobile =  df_infr.iloc[:,[2, 8, 11, 14, 17, 20, 22]]

In [311]:
nobile['Nobile'] = nobile.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [312]:
mobile_info = pd.concat([mobile, nobile], axis=1)

In [316]:
mobile_info = mobile_info.iloc[:,[0, 7, 15]]

In [317]:
mobile_info.head()

                                     Qualifying Name  Mobile  Nobile
0  NYC-Bronx Community District 8--Riverdale, New...   17527   15943
1  NYC-Bronx Community District 12--Wakefield, Ne...   11414   22542
2  NYC-Bronx Community District 10--Co-op City, N...   12064   23389
3  NYC-Bronx Community District 11--Pelham Parkwa...   11749   22835
4  NYC-Bronx Community District 3 & 6--Belmont, N...   16292   22435

In [294]:
high_speed =  df_infr.iloc[:,[2, 6, 9, 12]]
high_speed['High'] = high_speed.sum(axis=1)
low_speed = df_infr.iloc[:, [2, 5, 15]]
low_speed['Low'] = low_speed.sum(axis=1)
it_info = pd.concat([high_speed, low_speed], axis=1)
it_info = it_info.ix[:,[0,4, 8]]

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [295]:
it_info.head()

                                     Qualifying Name   High  Low
0  NYC-Bronx Community District 8--Riverdale, New...  22930  519
1  NYC-Bronx Community District 12--Wakefield, Ne...  25718  309
2  NYC-Bronx Community District 10--Co-op City, N...  25397  158
3  NYC-Bronx Community District 11--Pelham Parkwa...  24830  449
4  NYC-Bronx Community District 3 & 6--Belmont, N...  18654  282

In [89]:
def converter_1(data):
    if re.search(r"Bronx", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"BX\1", data)
    elif re.search(r"Queen", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"QN\1", data)
    elif re.search(r"STATEN ISLAND", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"SI\1", data)
    elif re.search(r"BROOKLYN", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"BK\1", data)
    elif re.search(r"manhattan", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"MN\1", data)

In [367]:
pat1 = re.compile(r"\w+-\w+\s*\w*\s\w+\s\w+\s(\d\d)\s*&*\d*.*", re.IGNORECASE)
pat2 = re.compile(r"\w+-\w+\s*\w*\s\w+\s\w+\s(\d)\s*&*\d*.*", re.IGNORECASE)

In [296]:
def converter_2(data):
    if re.search(r"Bronx", data,re.IGNORECASE):
        if re.search(pat1, data):
            return re.sub(pat1, r"BX\1", data)
        else:
            return re.sub(pat2, r"BX0\1", data)
    elif re.search(r"Queen", data,re.IGNORECASE):
         if re.search(pat1, data):
            return re.sub(pat1, r"QN\1", data)
         else:
            return re.sub(pat2, r"QN0\1", data)
    elif re.search(r"STATEN ISLAND", data, re.IGNORECASE):
         if re.search(pat1, data, ):
            return re.sub(pat1, r"SI\1", data)
         else:
            return re.sub(pat2, r"SI0\1", data)
    elif re.search(r"BROOKLYN", data, re.IGNORECASE):
         if re.search(pat1, data):
            return re.sub(pat1, r"BK\1", data)
         else:
            return re.sub(pat2, r"BK0\1", data)
    elif re.search(r"manhattan", data, re.IGNORECASE):
         if re.search(pat1, data):
            return re.sub(pat1, r"MN\1", data)
         else:
            return re.sub(pat2, r"MN0\1", data)

In [372]:
demo = demograph.drop_duplicates(subset="Median household income (In 2014 Inflation Adjusted Dollars)")

In [373]:
demo = demo.rename(columns = {'cd_id':'district'})

In [404]:
demo["district"][demo["district"]=="MN05"] = "MN04"

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [374]:
first = mobile_info.merge(it_info, on="Qualifying Name")

In [375]:
first["district"] = first["Qualifying Name"].apply(converter_2)

In [376]:
first.drop(["Qualifying Name"], axis=1, inplace=1)

In [377]:
first.drop_duplicates(inplace=1)

In [383]:
ranking["district"] = ranking["Community Board"].apply(converter_1)

In [384]:
ranking.drop(["Community Board"], axis=1, inplace=1)

In [385]:
ranking = ranking.drop_duplicates(subset="counts")

In [406]:
final = demo.merge(first, on="district", how="inner").merge(ranking, on="district", how="inner")

In [407]:
final

,district,Median household income (In 2014 Inflation Adjusted Dollars),Mobile,Nobile,High,Low,counts
0,BX08,54224,17527,15943,22930,519,92733
1,BX12,44906,11414,22542,25718,309,168455
2,BX10,54962,12064,23389,25397,158,95496
3,BX11,47910,11749,22835,24830,449,122081
4,BX03,22041,16292,22435,18654,282,75134
5,BX07,35495,16709,19414,22626,0,185729
6,BX05,20872,15857,13401,12431,415,161078
7,BX04,27203,18342,14419,16053,732,181953
8,BX09,36058,12892,34775,32042,669,147457
9,BX01,21116,15981,19144,20357,1145,74631
10,MN12,45157,26592,32179,46246,1799,268053
11,MN09,42235,17556,19398,25311,1411,127565
12,MN10,40564,14746,24282,29162,434,137344
13,MN11,31340,10434,21535,25515,854,95413
14,MN08,115238,63973,41971,91094,824,149076
15,MN07,106181,49546,38942,70052,533,151419
16,MN04,98561,34994,38350,61180,329,132660
17,MN06,105625,39450,32440,63014,758,104249
18,MN03,41366,20868,29983,39186,577,150296
19,MN01,120190,41450,36201,66178,590,77974
20,SI03,82718,14334,36705,41521,331,136487
21,SI02,71459,11206,24922,28739,652,121132
22,SI01,57602,11151,37213,41169,454,182713
23,BK01,57818,21459,27556,41013,598,185057
24,BK04,40484,14171,21045,25691,139,139706
25,BK03,34678,12648,22363,25803,754,197306
26,BK02,84568,18679,29429,40267,562,121022
27,BK06,113045,23815,21612,39648,356,114029
28,BK08,44904,10559,26275,30716,533,141119
29,BK16,25259,5927,21433,21920,496,85467
30,BK05,32996,9572,29604,32455,512,189765
31,BK18,62090,19215,37513,42148,507,156100
32,BK17,42349,13596,23007,30543,622,191720
33,BK09,41814,8591,20994,24066,898,135833
34,BK07,48051,12123,24663,31085,290,107031
35,BK10,56696,19341,20053,27671,735,111837
36,BK12,43222,11935,18323,21860,539,150320
37,BK14,50316,16540,30443,37764,629,187794
38,BK15,52717,13969,27857,31439,870,146129
39,BK11,47748,17710,30758,33148,831,139890
40,BK13,29578,7779,21548,22323,492,72362
41,QN01,56269,31144,32255,54294,769,171484
42,QN03,49610,9750,32139,35375,427,122009
43,QN07,52105,23421,46121,61711,347,195961
44,QN11,80866,16201,21702,31966,314,101908
45,QN13,75732,13931,37604,40306,1006,163851
46,QN08,55324,15239,29686,38680,310,123131
47,QN04,45264,8440,25775,28781,286,99316
48,QN06,61290,13715,28978,36487,710,90938
49,QN02,57265,14616,31087,39824,520,114333
50,QN05,63660,9845,39150,43904,681,168570
51,QN09,61275,11481,25492,29993,1243,151242
52,QN12,52537,15241,39630,40100,1817,229383
53,QN10,60946,10916,20230,23567,720,128116
54,QN14,44239,6905,23412,23831,523,103396